body{
    background-color:lightslategray;
}


.carousel-item img {
    height: 400px;
    width: auto;
    margin: 0 auto;

}

.informacion p{
    font-size: 17px;
    font-weight: bold;
}

footer{
    background-color: honeydew;
}